@import "mixin";
.banner {
  background: url("../img/banner1.png") center/cover no-repeat;
}


.contact {
  @include wh(1226px, auto);
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    div {
      font-size: 26px;
      color: #333;
    }
    .tell {
      @include center;
      margin-top: 10px;
      img {
        @include z(59px);
        margin-right: 38px;
      }
      span {
        font-size: 30px;
        color: #000;
      }
    }
  }
  .right {
    @include center;
    .img {
      @include z(108px);
      margin-right: 25px;
      @include random;
      img {
        @include block;
      }
    }
    .text {
      div:first-child {
        font-size: 22px;
        color: #000;
      }
      div {
        font-size: 20px;
        color: #333;
        margin-bottom: 12px;
      }
      div:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.company-wrapper{
  @include wh(1226px,auto);
  margin: 60px auto 0 auto;
  .title {
    @include wh();
    @include center;
    flex-direction: column;
    div {
      font-size: 32px;
      color: #F16D60;
    }
    .english {
      font-size: 42px;
      color: #F16D60;
    }
    .line {
      @include wh(260px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh;
    margin:110px auto 0 auto;
    .img{
      @include wh(100%,800px);
      margin-bottom: 78px;
    }
    p{
      font-size:23px;
      color: #000;
      line-height: 38px;
      text-indent: 2em;
      word-break: break-all;
      margin-bottom: 5px;
    }
    .word{
      @include wh(401px,41px);
      margin-top:45px;
    }
    .look{
      @include wh(1226px,32px);
      display: flex;
      justify-content: flex-end;
      align-items:center;
      margin-top: 98px;
      .good{
        @include z(32px);
        background: url("../img/good.png") center/contain no-repeat;
      }
      .text{
        font-size:18px;
        color: #888888;
        margin-left: 40px;
      }
    }
  }
}



.partner-wrapper{
  @include wh(100%,auto);
  margin: 210px auto 0 auto;
  padding-bottom: 80px;
  .title {
    @include wh(1226px,auto);
    margin: auto;
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(225px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }
  .lines{
    @include wh(100%,12px);
    background: #F2F2F2;
    margin: 75px 0 158px 0;
  }
  .wrapper:last-child{
    margin-top: 12px;
    padding-bottom: 350px;
  }
  .wrapper {
    @include wh(1226px,auto);
    display: flex;
    flex-wrap: wrap;
    margin: 210px auto 0 auto;
    .lines{
      @include wh(1226px,12px);
    }
    li{
      @include wh(33.3%,auto);
      flex-shrink: 0;
      display: flex;

      flex-direction: column;
      padding:0 40px;
      .img{
        display: block;
        @include wh(100%,80px);
      }
      .content{
        @include wh(100%,170px);
        border-bottom: 5px solid #F2F2F2;
        text-align: center;
        font-size:25px;
        font-weight: bold;
        color: #000000;
        padding-top: 55px;
        margin-bottom: 45px;
      }
      span{
        font-size:17px;
        color: #000000;
        margin-top: 20px;
      }
      p{
        @include wh;
        font-size:22px;
        color: #000;
        line-height: 30px;
        word-break: break-all;
        text-align: left;
      }
    }
  }
}