.banner {
  background: url("../img/contact-banner.png") center/cover no-repeat;
}

.contact {
  width: 1226px;
  height: auto;
  margin: 140px auto 140px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .left div {
  font-size: 26px;
  color: #333;
}

.contact .left .tell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contact .left .tell img {
  width: 59px;
  height: 59px;
  margin-right: 38px;
}

.contact .left .tell span {
  font-size: 30px;
  color: #000;
}

.contact .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .right .img {
  width: 108px;
  height: 108px;
  margin-right: 25px;
  background: rgba(56, 168, 12, 0.5);
}

.contact .right .img img {
  display: block;
  width: 100%;
  height: 100%;
}

.contact .right .text div:first-child {
  font-size: 22px;
  color: #000;
}

.contact .right .text div {
  font-size: 20px;
  color: #333;
  margin-bottom: 12px;
}

.contact .right .text div:last-child {
  margin-bottom: 0;
}

.contact-wrapper {
  width: 1226px;
  height: auto;
  padding-bottom: 170px;
  margin: auto;
}

.contact-wrapper .title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-wrapper .title div {
  font-size: 32px;
  color: #F16D60;
}
.contact-wrapper .title .english {
  font-size: 42px;
  color: #F16D60;
}

.contact-wrapper .title .line {
  width: 300px;
  height: 1px;
  background: #26A8D9;
  margin: 10px 0;
}

.contact-wrapper .wrapper {
  width: 1226px;
  height: auto;
  margin: 120px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-wrapper .wrapper .img {
  width: 55%;
  height: 450px;
  background: url("../img/map.png") center/cover no-repeat;
}

.contact-wrapper .wrapper .content {
  width: 45%;
  height: 450px;
  padding-left: 115px;
  padding-top: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: column;
}

.contact-wrapper .wrapper .content li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.contact-wrapper .wrapper .content li img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}

.contact-wrapper .wrapper .content li span {
  font-size: 26px;
  color: #000;
}

.online {
  width: 100%;
  height: auto;
  background: #F5F5F5;
  padding: 70px 0 170px 0;
  margin: auto;
}

.online .title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.online .title div {
  font-size: 32px;
  color: #F16D60;
}
.online .title .english {
  font-size: 42px;
  color: #F16D60;
}

.online .title .line {
  width: 300px;
  height: 1px;
  background: #26A8D9;
  margin: 10px 0;
}

.online form {
  width: 1226px;
  height: 774px;
  margin: 100px auto 0 auto;
  padding: 0 20px;
}

.online form input {
  width: 833px;
  height: 65px;
  background: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid #B2B2B2;
  padding-left: 15px;
  font-size: 25px;
  color: #B2B2B2;
  margin-top: 30px;
}

.online form textarea {
  width: 100%;
  height: 300px;
  background: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid #B2B2B2;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 25px;
  color: #B2B2B2;
  resize: none;
  margin-top: 30px;
}

.online form button {
  width: 830px;
  height: 65px;
  outline: none;
  border: 1px solid #333;
  border-radius: 8px;
  background: #0189FF;
  margin: 90px auto 0 auto;
  font-size: 41px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 65px;
}
