@import "mixin";
.banner{
  @include wh(100%,300px);
  background: url("../img/contact-banner.png") center/cover no-repeat;
}

.contact {
  @include wh(926px, auto);
  margin: 80px auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    div {
      font-size: 26px;
      color: #333;
    }
    .tell {
      @include center;
      margin-top: 10px;
      img {
        @include z(59px);
        margin-right: 38px;
      }
      span {
        font-size: 30px;
        color: #000;
      }
    }
  }
  .right {
    @include center;
    .img {
      @include z(108px);
      margin-right: 25px;
      @include random;
      img {
        @include block;
      }
    }
    .text {
      div:first-child {
        font-size: 22px;
        color: #000;
      }
      div {
        font-size: 20px;
        color: #333;
        margin-bottom: 12px;
      }
      div:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.contact-wrapper{
  @include wh(1226px,auto);
  padding-bottom: 70px;
  margin:auto;
  .title {
    @include wh();
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(234px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh(1226px,auto);
    margin: 50px auto 0 auto;
    display: flex;;
    justify-content:center;
    align-items:center;
    position: relative;
    .img{
      @include wh(60%,500px);
      background: url("../img/map.png") center/cover no-repeat;
    }
    .content{
      @include wh(40%,500px);
      padding-left:45px;
      padding-top: 290px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: flex-end;
      flex-direction: column;
      li{
        @include wh(100%,auto);
        display: flex;
        justify-content: flex-start;
        align-items:center;
        margin-bottom: 10px;
        img{
          @include z(31px);
          margin-right: 10px;
        }
        span{
          font-size:16px;
          color: #333;
        }
      }
    }
  }
}

.online{
  @include wh(100%,auto);
  background: #F5F5F5;
  padding: 50px 0;
  .title {
    @include wh();
    @include center;
    flex-direction: column;
    div {
      font-size: 28px;
      color: #F16D60;
    }
    .line {
      @include wh(234px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }
  form{
    @include wh(1226px,auto);
    margin: 0 auto 0 auto;

    input{
      @include wh(833px,65px);
      background: none;
      border-radius: 5px;
      outline: none;
      border:1px solid #333;
      padding-left: 15px;
      font-size:25px;
      color: #000;
      margin-top: -20px;
    }
    textarea{
      @include wh(100%,300px);
      background: none;
      border-radius: 5px;
      outline: none;
      border:1px solid #333;
      padding-left: 15px;
      font-size:25px;
      color: #000;
      resize: none;
      margin-top: 50px;
    }
    button{
      @include wh(830px,65px);
      outline: none;
      border:1px solid #333;
      border-radius: 5px;
      background: #0189FF;
      margin:20px auto 0 auto;
      font-size:25px;
      color: #fff;
      display: flex;
      justify-content:center;
      align-items:center;
    }
  }
}