@import "mixin";

header {
  @include wh(1226px, auto);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    @include wh(222px, 142px);
    img {
      @include block;
    }
  }
  .menu {
    @include wh(800px, 73px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      @include wh(160px, auto);
      border: 1px solid #888888;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &.active {
        background: #F27062;
        border: 0;
        a {
          color: #fff;
        }
      }
      a {
        @include block;
        @include center;
        font-size: 28px;
        color: #888888;
      }
    }
  }
}

.banner {
  @include wh(1226px, auto);
  position: relative;
  margin: auto;
  .img-box {
    @include wh(100%, 560px);

    li {
      @include wh(100%, 100%);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      img {
        @include block;
      }
    }
  }
  .button {
    @include wh(102px, 26px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    li {
      @include wh(25px, 25px);
      border-radius: 50%;
      border: 1px solid #000;
      &.active {
        background: #000;
      }
    }
  }
}

.search-wrapper {
  @include wh(972px, 89px);
  margin: auto;
  background: #E07166;
  form {
    @include wh(100%, 100%);
    padding: 0 40px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input {
    @include wh(654px, 50px);
    background: #fff;
    outline: none;
    font-size: 25px;
    color: #000000;
    border: none;
    border-radius: 5px;
  }
  button {
    @include wh(197px, 50px);
    outline: none;
    background: #4B9DC2;
    @include center;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}

.contact {
  @include wh(1226px, auto);
  margin: 181px auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    div {
      font-size: 28px;
      color: #333;
    }
    .tell {
      @include center;
      margin-top: 10px;
      img {
        @include z(59px);
        margin-right: 38px;
      }
      span {
        font-size: 34px;
        color: #000;
      }
    }
  }
  .right {
    @include center;
    .img {
      @include z(108px);
      margin-right: 25px;
      @include random;
      img {
        @include block;
      }
    }
    .text {
      div:first-child {
        font-size: 22px;
        color: #000;
      }
      div {
        font-size: 20px;
        color: #333;
        margin-bottom: 12px;
      }
      div:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.service-wrapper {
  @include wh(1226px, auto);
  margin: auto;
  padding-bottom: 80px;
  .title {
    @include wh();
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(234px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper {
    @include wh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    li{
      @include wh(290px,auto);
      flex-shrink: 0;
      display: flex;
      justify-content:center;;
      align-items:center;
      flex-direction: column;
      img{
        @include wh(100%,220px);
        display: block;
        margin-bottom:38px;
      }
      .content{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        flex-direction: column;

        .span{
          @include wh;
          font-size:28px;
          color: #000000;
          margin-bottom: 5px;
        }
        p{
          @include wh;
          font-size:21px;
          color: #333;
          word-break: break-all;
        }
      }
    }
  }
}

.product-wrapper{
  @include wh(100%,auto);
  background: #F5F5F5;
  padding-top: 60px;
  padding-bottom: 50px;
  .title {
    @include wh(1226px,auto);
    margin: auto;
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(270px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh(1226px,auto);
    margin: auto;
    position: relative;

    .left{
      @include wh(19px,35px);
      background: url("../img/left-button.png") center/contain no-repeat;
      position: absolute;
      left:0;
      top:75px;
    }
    .right{
      @include wh(19px,35px);
      background: url("../img/left-button.png") center/contain no-repeat;
      transform: rotate(180deg);
      position: absolute;
      right:0;
      top:75px;
    }
    .img-box{
      @include wh(95%,auto);
      margin:50px  auto 0;
      display: flex;
      justify-content:space-between;
      align-items:center;
      overflow: hidden;
      li{
        @include wh(375px,auto);
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        flex-shrink: 0;
        img{
          display: block;
          background: #fff;
          @include wh(100%,220px);
          margin-bottom: 40px;
        }
        span{
          font-size:25px;
          color: #333;
        }
      }
    }
  }

  .look-more{
    @include wh(217px,47px);
    border: 1px solid #888888;
    margin: 50px auto 0 auto;

    a{
      display: flex;
      justify-content:center;
      align-items:center;
      width:100%;
      height:100%;
      img{
        @include wh(24px,24px);
        @include random;
        margin-right: 15px;
        display: block;
      }
      span{
        font-size:18px;
        color: #333;
      }
    }
  }
}

.about-wrapper{
  @include wh(1226px,auto);
  margin: 30px auto 0 auto;
  .title {
    @include wh(1226px,auto);
    margin: auto;
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(220px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh;
    display: flex;

    margin-top: 30px;

    img{
      display: block;
      @include wh(378px,293px);
      margin-right: 15px;
    }
    .content{
      width: 800px;
      height:auto;
      p{
        font-size:18px;
        color: #333;
        text-indent: 2em;
      }
    }
    .look{
      @include wh(100%,46px);
      display: flex;
      justify-content: flex-end;
      align-items:center;
      margin-top: 20px;
      div{
        @include wh(215px,46px);
        display: inline-flex;
        justify-content: center;
        align-items:center;
        border: 1px solid #888888;
        img{
          display: block;
          @include wh(34px,22px);
          margin-right: 15px;
        }
        span{
          font-size:18px;
          color: #333;
        }
      }
    }
  }
}

.staff-wrapper{
  @include wh(1226px,auto);
  margin: 100px auto 0 auto;
  .title {
    @include wh(1226px,auto);
    margin: auto;
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(220px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }
  .wrapper {
    @include wh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    li{
      @include wh(378px,382px);
      flex-shrink: 0;
      display: flex;
      justify-content:center;;
      align-items:center;
      flex-direction: column;
      .img-box{
        @include wh(100%,220px);
        display: block;
        margin-bottom:38px;
        position: relative;
        transition: all .8s ease;

        .shadow{
          @include wh(100%,100%);
          background: rgba(0,0,0,.7);
          position: absolute;
          top:0;
          left:0;
          z-index: 10;
          visibility: hidden;
          opacity: 0;
          transition: all .8s ease;
          display: flex;
          justify-content:center;;
          align-items: center;
          .box{
            @include wh(95%,92%);
            border: 1px solid #fff;
            display: flex;
            justify-content:center;;
            align-items: center;
            flex-direction: column;
            h5{
              font-size:30px;
              color: #fff;
            }
            a{
              display: block;
              @include wh(184px,56px);
              background: #0189FF;
              border-radius: 45px;
              margin-top: 25px;
              font-size:28px;
              color: #fff;
              text-align: center;
              line-height: 56px;
            }
          }
        }
        img{
          @include block;
        }
      }
      .content{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;

        span{
          font-size:28px;
          color: #000000;
          margin-bottom: 15px;
        }
        p{
          @include wh;
          font-size:18px;
          color: #333;
          word-break: break-all;
          text-indent: 2em;
        }
      }
    }
  }
}
.staff-wrapper .wrapper .img-box:hover .shadow{
  visibility: visible;
  opacity:1;
}

.news-wrapper{
  @include wh(1226px,600px);
  background: url("../img/news-back.png") center/cover no-repeat;
  margin: 80px auto 0 auto;
  padding: 20px 0 50px 0;

  .title {
    @include wh(1226px,auto);
    margin: auto;
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(220px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh();
    display: flex;
    margin-top: 40px;
    li{
     padding: 0  30px;
      div{
        font-size:18px;
        color: #878988;
      }
      .titles{
        font-size:24px;
        color: #1196DB;
        margin: 10px 0;
      }
      p{
        font-size:20px;
        color: #333;
        text-indent: 2em;
      }
    }
  }

  .look{
    @include wh(215px,46px);
    margin: 20px auto 0 auto;
    div{
      @include wh(100%,100%);
      display: inline-flex;
      justify-content: center;
      align-items:center;
      border: 1px solid #888888;
      img{
        display: block;
        @include wh(22px,22px);
        margin-left: 15px;
      }
      span{
        font-size:18px;
        color: #333;
      }
    }
  }
}



footer{
  @include wh(100%,auto);
  background: #1B5B74;
  padding:35px 0;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  .tops{
    width: 1226px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
      font-size:18px;
      color: #fff;
      margin-right: 35px;
    }
  }
  .bottoms{
    width: 1226px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    span{
      font-size:15px;
      color: #F0F4F5;
      margin-right: 15px;
    }
  }
}