@import "mixin";

.banner {
  @include wh(100%, 600px);
}

.news-wrapper {
  @include wh(1226px, auto);
  margin: auto;

  .title {
    @include wh();
    @include center;
    flex-direction: column;
    padding: 30px 0;
    div {
      font-size: 28px;
      color: #F16D60;
    }
    .line {
      @include wh(150px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper {
    @include wh;
    padding: 25px 0 45px 0;
    li {
      @include wh;
      margin: 0 0 65px 0;

      .titles {

        font-size: 22px;
        color: #000000;
        padding: 0;
      }
      .img {
        @include wh(100%, 500px);
        margin: 40px 0 0 0;
      }
      .time {
        @include wh(100%, 40px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 50px;

        .date, .look {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 105px;
          img {
            @include z(23px);
            margin: 0 10px 0 0;
          }
          span {
            font-size: 22px;
            color: #888888;
          }
        }
      }
    }
    li:nth-child(2) {
      @include wh;
      .titles {

        font-size: 22px;
        color: #000000;
        padding: 0;
      }
      .img-box {
        @include wh(100%, 500px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px 0;
        .left-img {
          @include wh(80%, 100%);
          padding-right: 15px;
          position: relative;
          .left-button {
            @include wh(50px, 100px);
            background: rgba(0, 0, 0, .7);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 10;
            @include center;
            cursor: pointer;

            img {
              @include wh(20px, 68px);
              display: block;
            }
          }
          .right-button {
            @include wh(50px, 100px);
            background: rgba(0, 0, 0, .7);
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 10;
            @include center;
            cursor: pointer;

            img {
              @include wh(20px, 68px);
              display: block;
              transform: rotateZ(180deg);
            }
          }
          ul {
            @include wh(100%, 100%);
            position: relative;
            li {
              @include wh(100%, 100%);
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
              .infos {
                @include wh(100%, 50px);
                line-height: 50px;
                background: rgba(0, 0, 0, .7);
                text-align: left;
                padding-left: 15px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
        }
        .right-img {
          @include wh(20%, 100%);
          li {
            @include wh(100%, 32%);
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .box {
              @include wh(100%, 100%);
              background: rgba(0, 0, 0, .6);
            }
          }

        }
      }
    }
    li:nth-child(3) {
      .titles {
        margin-bottom: 45px;
      }
      p {
        font-size: 18px;
        color: #333;
        text-indent: 2em;
        margin: 15px 0;
      }
      .text {
        font-size: 18px;
        color: #000;
        margin-top: 15px;
      }
    }
    li:nth-child(4) {
      @include wh;
      .titles {

        font-size: 22px;
        color: #000000;
        padding: 0;
      }
      .img-box {
        @include wh(100%, 500px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px 0;
        .left-img {
          @include wh(75%, 100%);
          padding-right: 15px;
          position: relative;
          .left-button {
            @include wh(50px, 100px);
            background: rgba(0, 0, 0, .7);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 10;
            @include center;
            cursor: pointer;

            img {
              @include wh(20px, 68px);
              display: block;
            }
          }
          .right-button {
            @include wh(50px, 100px);
            background: rgba(0, 0, 0, .7);
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 10;
            @include center;
            cursor: pointer;

            img {
              @include wh(20px, 68px);
              display: block;
              transform: rotateZ(180deg);
            }
          }
          ul {
            @include wh(100%, 100%);
            position: relative;
            li {
              @include wh(100%, 100%);
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
            }
          }
        }
        .right-img {
          @include wh(25%, 100%);
          h6 {
            font-size: 21px;
            color: #000;
            font-weight: normal;
            word-break: break-all;
            margin-bottom: 35px;
          }
          p {
            font-size: 17px;
            color: #333;
            margin: 20px 0;
            text-indent: 2em;
            word-break: break-all;
          }
          .time {
            @include wh(100%, 40px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .date, .look {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 0;
              img {
                @include z(23px);
                margin: 0 10px 0 0;
              }
              span {
                font-size: 22px;
                color: #888888;
              }
            }
          }
        }
      }
    }
  }
}