@import "mixin";
.banner{
  @include wh(100%,400px);
  background: url("../img/product-banner.png") center/cover no-repeat;
}

.product-wrapper {
  @include wh(100%, auto);
  padding-top: 10px;
  padding-bottom: 50px;
  .title {
    @include wh(1226px, auto);
    margin: auto;
    @include center;
    flex-direction: column;
    div {
      font-size: 34px;
      color: #F16D60;
    }
    .line {
      @include wh(400px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh(1226px,auto);
    margin:30px auto 0 auto;
    display: flex;

    flex-wrap: wrap;
    a{
      @include wh(33.3%,auto);
      flex-shrink: 0;
      padding:50px 20px 10px;
      margin-bottom: 50px;
      .img-box{
        @include wh(242px,250px);
        margin: 0 auto 30px auto;
        img{
          @include block;
        }
      }
      .content{
        width: 100%;
        height:auto;
        display: flex;

        flex-direction: column;
        span{
          font-size:23px;
          color: #F36F62;
          margin-bottom: 20px;
        }
        p{
          font-size:18px;
          color: #333;
          text-indent: 2em;
        }

      }
    }
    a:nth-child(8),a:nth-child(10){
      .img-box{
        @include wh(142px,250px);
      }
    }
    a:nth-child(9){
      .img-box{
        @include wh(100%,250px);
      }
    }
  }
}