@import "mixin";
.banner {
  @include wh(100%, 400px);
  background: url("../img/staff-banner.png") center/cover no-repeat;
}
.work-wrapper{
  @include wh;
  margin: auto;
  .title {
    @include wh();
    @include center;
    flex-direction: column;
    padding: 30px 0;
    div {
      font-size: 28px;
      color: #F16D60;
    }
    .line {
      @include wh(180px, 1px);
      background: #26A8D9;
      margin: 10px 0;
    }
  }

  .wrapper{
    @include wh;
    background: #F5F5F5;
    padding:50px 0;
    li{
      @include wh(1226px,auto);
      margin:0 auto 50px auto;
      background: #fff;
      display: flex;
      padding: 40px;
      .img{
        @include wh(50%,350px);
        position: relative;
        img{
          @include block;
        }
        .info{
          @include wh(100%,50px);
          background: rgba(0,0,0,.7);
          text-align: left;
          line-height: 50px;
          padding-left: 20px;
          position: absolute;
          left:0;
          bottom:0;
          z-index: 10;
          font-size:20px;
          color:#fff;
        }
      }

      .content{
        @include wh(50%,350px);
        padding-left: 30px;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction: column;
        .title{
          @include wh(100%,10px);
          display: flex;
          justify-content: flex-start;
          align-items:center;
          position: relative;
          text-align: left;
          span{
            display: block;
            text-align: left;
            font-size:22px;
            color: #000000;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        p{
          font-size:18px;
          color: #333;
          @include wh(100%,270px);
          margin: -15px 0 15px 0;
        }
        .time{
          @include wh;
          display: flex;
          justify-content: flex-start;
          align-items:center;
          img{
            @include z(23px);
            margin-right: 20px;
          }
          span{
            font-size:18px;
            color: #888888;
          }
        }
      }
    }
  }
}